.form-registration {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  height: 400px;
  border-radius: 5px;
  width: 600px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px 5px 5px 5px; }
  .form-registration header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    font-size: 20px; }
  .form-registration_login-in {
    display: flex;
    flex-direction: row;
    font-size: 14px; }
    .form-registration_login-in h5 {
      font-weight: bold; }
    .form-registration_login-in_social {
      width: 40%;
      margin: 0 20px; }
      .form-registration_login-in_social button {
        background-color: white;
        border: 2px solid lightgray;
        border-radius: 20px;
        margin: 5px 0;
        outline: none; }
        .form-registration_login-in_social button:focus, .form-registration_login-in_social button:active, .form-registration_login-in_social button:visited {
          outline: none; }
        .form-registration_login-in_social button:hover {
          box-shadow: 0px 0px 2px 1px lightgray; }
        .form-registration_login-in_social button a {
          text-decoration: none;
          color: black; }
    .form-registration_login-in_usual {
      width: 60%;
      margin: 0 20px; }
      .form-registration_login-in_usual p {
        font-size: 12px; }
        .form-registration_login-in_usual p span {
          color: #05b3d6;
          font-weight: bold; }
          .form-registration_login-in_usual p span:hover {
            text-decoration: underline; }
      .form-registration_login-in_usual input[type="email"], .form-registration_login-in_usual input[type="password"], .form-registration_login-in_usual input[type="text"] {
        width: 100%;
        border: 1px solid lightgrey;
        margin: 5px 0;
        height: 30px;
        text-indent: 20px; }
      .form-registration_login-in_usual .error-messanges {
        width: 100%;
        background-color: #ff5452;
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-indent: 20px;
        height: 25px;
        line-height: 25px;
        border-radius: 10px;
        margin: 5px 0; }
      .form-registration_login-in_usual_checkbox {
        margin: 5px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; }
        .form-registration_login-in_usual_checkbox label {
          font-size: 14px;
          font-weight: 100;
          padding-right: 10px; }
      .form-registration_login-in_usual input[type="submit"] {
        border-radius: 20px;
        font-size: 18px; }
