.header{
  margin: 20px auto 0 auto;
  $blue : #05b3d6;
  color: $blue;
  font-weight: bold;
  height: 35px;
  padding: 10px 0;
  width: 90%;
  @media (min-width: 768px) {
    width: 768px;
    margin: auto;
  }
  @media (min-width: 992px) {
    width: 992px;
    margin: auto;
  }

  .page-name{
    font-style: italic;
    font-size: 20px;
    padding-left: 30px;
    background-image: url("./../../../images/plane.svg");
    background-repeat: no-repeat;
    background-size: 20px 2.5rem;

  }
  .custom-settings{
    //float: right;
  }
  .registration{
    @media (max-width: 768px) {
      display: none;
    }
  }
  .header-button {
    border: 2px solid lightgrey;
    border-radius: 20px;
    padding: 4px 16px;
    background-color: white;
    outline: none;
    //font-size: 1.5rem;
    &:hover {
      border: 2px solid $blue;
    }
  }
}