.header{
  margin: 20px auto 0 auto;
  $blue : #05b3d6;
  color: $blue;
  font-weight: bold;
  height: 35px;
  //width: 1000px;

  //  width: 100%;
  //  padding: 5px;
  //
  //@media (min-width: @screen-sm-min) {
  //  width: 768px;
  //  margin: auto;
  //}

  .page-name{
    font-style: italic;
    font-size: 20px;
    padding-left: 30px;
    background-image: url("./../../../images/plane.svg");
    background-repeat: no-repeat;
    background-size: 20px 2.5rem;

  }
  .page-settings{
    //float: right;
  }
  .registration{
    //float: right;
  }
  .header-button {
    border: 2px solid lightgrey;
    border-radius: 20px;
    padding: 4px 16px;
    background-color: white;
    outline: none;
    //font-size: 1.5rem;
    &:hover {
      border: 2px solid $blue;
    }
  }
}