.header {
  margin: 20px auto 0 auto;
  color: #05b3d6;
  font-weight: bold;
  height: 35px; }
  .header .page-name {
    font-style: italic;
    font-size: 20px;
    padding-left: 30px;
    background-image: url("./../../../images/plane.svg");
    background-repeat: no-repeat;
    background-size: 20px 2.5rem; }
  .header .header-button {
    border: 2px solid lightgrey;
    border-radius: 20px;
    padding: 4px 16px;
    background-color: white;
    outline: none; }
    .header .header-button:hover {
      border: 2px solid #05b3d6; }
