body.root {
  margin: 0;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1rem; }
  body.root .app {
    width: 100%;
    min-width: 520px; }
  body.root a {
    text-decoration: none;
    color: white; }
    body.root a:hover {
      color: aliceblue;
      text-decoration: none; }
