.searching-form-for-flight {
  //font-size: 16px;
  background-image: url("./../../../images/background/car.jpg");
  form.form-styling {
    height: 100%;
    width: 1000px;
    padding: 50px 0;
    margin: auto;
  }
  .flight-direction {
    label {
      margin: 0 20px;
      font-size: 20px;
      font-weight: bold;
    }
    input {
      margin-right: 5px;
    }
    &_map {
      //float: right;
      color: white;
      margin: 0 20px 0 auto;
    }
  }
  .searching-critaria {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 16px;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: aliceblue;
        text-decoration: none;
      }
    }
  }
  .start-to-search {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &_search-button {
      input {
        border-radius: 20px;
        font-size: 18px;
        &:focus{
          outline: none;
        }
      }
    }
  }
}